@import url(../assets/styles.css);
body{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    max-height: 90vh;
    max-width: 80vw;
    margin-top: 5vh;
    & input{
        margin-top: 10px;
        padding: 0.5em;
        border-radius: 10px;
    }
}

.error { color: red; }